@model Recipe
@{
    ViewData["Title"] = "Recipe";
}
<h1>Ricette qui</h1>

<form method="post" asp-controller="Recipe" asp-action="Check">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>

    <label asp-for="TempoPreparazione"></label>
    <input asp-for="TempoPreparazione" />
    <span asp-validation-for="TempoPreparazione"></span>

    <label asp-for="Ingredienti"></label>
    <input asp-for="Ingredienti" />
    <span asp-validation-for="Ingredienti"></span>

    <input type="submit" value="Send" />

</form>